<div class="sidenav">
    <a routerLink="/">News</a>
    <a routerLink="/createnews" *ngIf="userIsAuthenticated">Create New News</a>
    <a routerLink="/register" *ngIf="userIsAuthenticated">Create User</a>
    <button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>
</div>

<div class="main"></div>