<div class="container">
    <div class="row">
        <h1>Admin Panel</h1>
        <p>Not an admin??? Please Return
            <a routerLink='/'>
                Back
            </a>
        </p>


        <form #lform='ngForm' (submit)="login(lform)">
            <div class="form-group">
                <label for="email">Email</label>
                <input #email='ngModel' required email ngModel type="email" class="form-control" name="email" placeholder="Enter email">
                <div class="validEmail" *ngIf="email.touched && email.invalid">enter valid email</div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input #password='ngModel' required ngModel type="password" class="form-control" name="password" placeholder="Password">
                <div class="validPassword" *ngIf="password.touched && password.invalid">enter valid password</div>
            </div>
            <button type="submit" class="btn btn-outline-primary" *ngIf="!isLoading">Sign In</button>
            <app-spinner *ngIf="isLoading"></app-spinner>
        </form>
    </div>
</div>