<app-sidebar></app-sidebar>
<div class="all">
    <h1>Hot News</h1>
    <div class="particularnews" *ngFor="let particularNews of news;index as i">
        <button class="accordion" (click)="toggle()">
        <p>{{particularNews.title}}</p></button>
        <div class="panel" *ngIf="active">
            <p> {{particularNews.content}}</p>
            <a [routerLink]="['/edit',particularNews.id]">Edit</a>
            <button (click)="deleteNews(particularNews.id)">Delete</button></div>

    </div>

</div>