<app-sidebar></app-sidebar>

<div class="all">
    <div class="container">
        <h1>Register A New User</h1>
    </div>

    <form #rform='ngForm' (submit)='register(rform);rform.reset()'>
        <div class="form-group">
            <label for="email">Email</label>
            <input #email='ngModel' required email ngModel type="email" class="form-control" name="email" placeholder="Enter email">
            <div class="validEmail" *ngIf="email.touched && email.invalid">enter valid email</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #password='ngModel' required ngModel type="password" class="form-control" name="password" placeholder="Password">
            <div class="validPassword" *ngIf="password.touched && password.invalid">enter valid password</div>
        </div>
        <button type="submit" class="btn btn-outline-primary" *ngIf="!isLoading">Register User</button>

        <div *ngIf="registered">User Successfully Created</div>
        <app-spinner *ngIf="isLoading"></app-spinner>
    </form>

</div>