<app-sidebar></app-sidebar>
<div class="all">
    <form #createnewsform='ngForm' (submit)="saveNews(createnewsform)">
        <div class="form-group">
            <label for="newsTitle"><strong>Title of The News: </strong></label>
            <input #title='ngModel' required [ngModel]='news?.title' type="text" class="form-control" name="title" placeholder="Title Of The News">
            <div class="validity" *ngIf="createnewsform.touched && createnewsform.invalid">Title Is Required</div>
        </div>
        <div class="form-group">
            <label for="newsContent"><Strong>Content:</Strong></label><br>
            <textarea #content='ngModel' [ngModel]='news?.content' name="content" cols="100%" rows="25%"></textarea>
        </div>
        <button type="submit">Save News</button>
    </form>
</div>